* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Smooch', cursive;
  font-family: 'Staatliches', cursive; }

body {
  background-color: #474444; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

::placeholder {
  color: black; }

/* VARIABLES */
/* VARIABLES */
/* HEADER */
header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10000; }
  header .burguerMenu {
    font-size: 40px;
    margin: 3px 10px;
    padding: 0 10px;
    border-radius: 10px;
    background-color: #04531e; }
  header input#menu {
    display: none; }
  header input#menu:checked ~ .menuHeader {
    display: block; }
  header .logo {
    margin: 3px auto; }
  header .menuHeader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #04531e; }
    header .menuHeader .cruzSalir {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 20px; }
    header .menuHeader ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }
      header .menuHeader ul li {
        font-size: 15px;
        padding: 10px;
        color: #04531e; }
        header .menuHeader ul li a {
          color: white; }

/* FIN HEADER */
/* FOOTER */
.redes ul {
  display: flex;
  justify-content: center; }
  .redes ul li {
    padding: 20px; }
    .redes ul li a {
      font-size: 27px;
      padding: 5px;
      color: white;
      background-color: #04531e;
      border-radius: 50%; }
      .redes ul li a i {
        width: 35px;
        height: 30px;
        justify-content: center;
        text-align: center; }

.copyright {
  display: flex;
  justify-content: center;
  background-color: #04531e;
  margin-bottom: 0; }

/* FIN FOOTER */
/* MAIN INICIO */
/* .cartelCarousel{
    background-color: grey;
    opacity: 0.2;
} */
.carousel-inner {
  width: 90%;
  margin: auto; }

.carousel-caption {
  bottom: initial;
  top: 10px;
  border-radius: 20px;
  padding: 5px; }
  .carousel-caption .tituloCarousel {
    color: #04531e; }

main .contenidoMain {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 250px 250px 250px;
  grid-template-areas: "img2 img2 img2 " "img1 img1 img1 " "img3 img3 img3 "; }
  main .contenidoMain img {
    width: 92%;
    margin: auto;
    height: 100%;
    object-fit: cover;
    padding: 5px 0; }
  main .contenidoMain .video {
    grid-area: video;
    width: 80%;
    height: 100%;
    object-fit: cover;
    padding: 5px;
    margin: 0 auto; }
  main .contenidoMain .img1 {
    grid-area: img1;
    padding: 5px; }
  main .contenidoMain .img2 {
    grid-area: img2;
    padding: 5px; }
  main .contenidoMain .img3 {
    grid-area: img3;
    padding: 5px; }

/* FIN MAIN INICIO */
/* CONTACTO */
.mainContacto {
  display: grid;
  min-height: 90vh;
  background-image: url(../images/fondo.jpg); }
  .mainContacto .contacto {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 10px; }
    .mainContacto .contacto .titulo {
      background-color: #04531e;
      text-align: center;
      font-size: 20px; }
    .mainContacto .contacto .texto {
      padding: 10px;
      margin: 5px;
      resize: none;
      max-width: 310px; }
    .mainContacto .contacto .email {
      padding: 10px;
      margin: 5px;
      border-top: none;
      border-left: none;
      border-right: none;
      max-width: 310px; }
    .mainContacto .contacto .name {
      padding: 10px;
      margin: 5px;
      border-top: none;
      border-left: none;
      border-right: none;
      max-width: 310px; }
    .mainContacto .contacto .botones {
      display: grid;
      grid-template-columns: repeat(2, 1fr); }
      .mainContacto .contacto .botones .enviar {
        margin: auto;
        padding: 5px 40px;
        border-radius: 5px;
        background-color: #04531e; }
      .mainContacto .contacto .botones .limpiar {
        margin: auto;
        padding: 5px 40px;
        border-radius: 5px;
        background-color: red; }
  .mainContacto .ubicacion {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    justify-content: center; }
    .mainContacto .ubicacion .mapa {
      margin: auto;
      width: 300px;
      height: 300px; }
    .mainContacto .ubicacion .dondeEstamos {
      margin: 10px 5px;
      text-align: center;
      font-size: 20px;
      background-color: #04531e; }
    .mainContacto .ubicacion .direccion {
      display: flex;
      flex-direction: row; }
      .mainContacto .ubicacion .direccion h5 {
        margin: 5px 20px 20px 0px;
        background-color: #04531e;
        font-size: 20px; }

/* FIN CONTACTO */
/* SOBRE NOSOTROS */
.mainAbout {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 90vh; }
  .mainAbout div {
    padding: 25px;
    margin: 10px;
    border-radius: 5px 70px;
    background-color: #04531e; }
    .mainAbout div h2 {
      color: white; }
      .mainAbout div h2 i {
        margin-right: 15px; }
    .mainAbout div p {
      font-size: 13px;
      color: white; }

/* FIN SOBRE NOSOTROS */
/* NUESTROS SERVICIOS */
.mainServicios .enlaces {
  display: flex;
  justify-content: space-between;
  padding: 20px; }
  .mainServicios .enlaces li {
    background-color: #04531e;
    padding: 7px;
    border-radius: 5px;
    margin-top: 10px; }
    .mainServicios .enlaces li a {
      color: white;
      text-decoration: underline; }

.mainServicios .ServiciosContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.mainServicios .tituloServicios {
  text-decoration: underline;
  font-style: italic;
  color: white;
  text-align: center;
  padding: 20px 5px; }

.mainServicios .serPlegadora, .mainServicios .serCizalla, .mainServicios .serCilindro {
  font-size: 15px;
  color: white;
  border-radius: 2px 25px;
  background-color: #04531e;
  padding: 10px;
  margin: 10px; }

.mainServicios .plegadora, .mainServicios .cizalla, .mainServicios .cilindro {
  width: 90%;
  height: auto;
  margin: auto;
  display: block; }

/* FIN NUESTROS SERVICIOS */
/* PRESUPUESTO */
.mainPresupuesto {
  background-image: url(../images/fondo.jpg); }
  .mainPresupuesto .presupuesto {
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 90vh; }
    .mainPresupuesto .presupuesto legend {
      font-size: 20px;
      background-color: #04531e;
      text-align: center; }
    .mainPresupuesto .presupuesto input {
      font-size: 15px;
      border-top: none;
      border-left: none;
      border-right: none; }
    .mainPresupuesto .presupuesto #archivo {
      font-size: 15px;
      border: 2px black dashed;
      align-items: center;
      padding: 40px 20px;
      background-color: white; }
    .mainPresupuesto .presupuesto textarea {
      resize: none; }
    .mainPresupuesto .presupuesto .botonPresupuesto {
      margin: auto;
      padding: 5px 50px; }

/* FIN PRESUPUESTO */
/* MEDIA QUERIES HEADER */
@media (min-width: 675px) {
  header {
    position: sticky;
    top: 0;
    background-color: white; }
    header .burguerMenu {
      display: none; }
    header .logo {
      margin-left: 0; }
    header .menuHeader {
      display: flex;
      position: inherit;
      background-color: white; }
      header .menuHeader .cruzSalir {
        display: none; }
      header .menuHeader ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; }
        header .menuHeader ul li {
          padding: 5px;
          margin-top: 15px; }
          header .menuHeader ul li a {
            color: #04531e;
            padding: 5px; }
            header .menuHeader ul li a:hover {
              background-color: #04531e;
              border-radius: 5px;
              color: white; } }

/* FIN MEDIA QUERIES HEADER */
/* MEDIA QUERIES FOOTER */
@media (min-width: 675px) {
  .redes ul li a {
    font-size: 40px;
    padding: 10px;
    color: white;
    background-color: #04531e;
    border-radius: 50%;
    transition: all 1s; }
    .redes ul li a:hover {
      color: #04531e;
      background-color: white;
      border: 2px solid #04531e; }
    .redes ul li a i {
      width: 45px;
      height: 40px;
      justify-content: center;
      text-align: center; } }

/* FIN MEDIA QUERIES FOOTER */
/* MEDIA QUERIES INICIO */
@media (min-width: 675px) {
  .img1, .img2, .img3 {
    transition: all 0.2s; }
  .img1:hover, .img2:hover, .img3:hover {
    opacity: 0.5; }
  main .contenidoMain {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 250px;
    grid-template-areas: "img1 img2 img3 "; }
  .logo img {
    object-fit: contain; }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 5px 0;
    margin: auto; }
  .img1 {
    grid-area: img1;
    padding-left: 5px; }
  .img2 {
    grid-area: img2; }
  .img3 {
    grid-area: img3;
    padding-right: 5px; }
  .carousel-caption {
    top: 10%; }
    .carousel-caption .tituloCarousel {
      font-size: 65px;
      color: #04531e; }
    .carousel-caption .cartelCarousel {
      font-size: 30px; } }

/* FIN MEDIA QUERIES INICIO */
/* MEDIA QUERIES CONTACTO */
@media (min-width: 675px) {
  .mainContacto {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "ubicacion form";
    justify-content: center;
    align-items: center; }
    .mainContacto .contacto {
      grid-area: form; }
    .mainContacto .ubicacion {
      grid-area: ubicacion; }
      .mainContacto .ubicacion .mapa {
        width: 350px;
        height: 350px; } }

/* FIN MEDIA QUERIES CONTACTO */
/* MEDIA QUERIES SOBRE NOSOTROS */
@media (min-width: 1000px) {
  .mainAbout {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    grid-template-areas: "about historia" "mision vision"; }
    .mainAbout .aboutUs {
      grid-area: about; }
    .mainAbout .historia {
      grid-area: historia; }
    .mainAbout .mision {
      grid-area: mision; }
    .mainAbout .vision {
      grid-area: vision; }
    .mainAbout h2 {
      font-size: 55px; }
    .mainAbout div {
      margin: 10px 25px; }
      .mainAbout div p {
        font-size: 22px; } }

/* FIN MEDIA QUERIES SOBRE NOSOTROS */
/* MEDIA QUERIES NUESTROS SERVICIOS */
@media (min-width: 675px) {
  .mainServicios .enlaces {
    display: none; }
  .mainServicios .ServiciosContainer {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 33%);
    grid-template-areas: "ple plecon" "cizcon ciz" "cil cilcon"; }
  .mainServicios .cilindroContainer {
    grid-area: cilcon; }
  .mainServicios .plegadoraContainer {
    grid-area: plecon; }
  .mainServicios .cizallaContainer {
    grid-area: cizcon; }
  .mainServicios .cilindro {
    grid-area: cil; }
  .mainServicios .plegadora {
    grid-area: ple; }
  .mainServicios .cizalla {
    grid-area: ciz; } }
