/* MAIN INICIO */

/* .cartelCarousel{
    background-color: grey;
    opacity: 0.2;
} */

.carousel-inner{
    width: 90%;
    margin: auto;
   
}



.carousel-caption{
    bottom: initial;
    top: 10px;
    border-radius: 20px;
    padding: 5px;
    .tituloCarousel{
        color: $primaryColor;

    }

    
    
   
}

main .contenidoMain {
    
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows:250px 250px 250px;
    grid-template-areas: 
    "img2 img2 img2 "
    "img1 img1 img1 "
    "img3 img3 img3 ";
    
    img{
        width: 92%;
        margin: auto;
        height: 100%;
        object-fit: cover;
        padding: 5px 0;
        
    } 
    .video {
        grid-area: video;
        width: 80%;
        height: 100%;
        object-fit: cover;
        padding: 5px;
        margin: 0 auto;
        
    }
    .img1 {
        grid-area: img1;
        padding: 5px;
    
    }
    
    .img2 {
        grid-area: img2;
        padding: 5px;
    }
    
    .img3 {
        grid-area: img3;
        padding: 5px;
    }
    
    
}

/* FIN MAIN INICIO */