/* MEDIA QUERIES HEADER */



@media (min-width: $bp-tablet) {

    header{
        position: sticky;
        top: 0;
        background-color: white;
        .burguerMenu{
            display: none;
        }
        .logo {
            margin-left: 0;
        }
        .menuHeader {
            display: flex;
            position: inherit;
            background-color: white;
            .cruzSalir {
                display: none;
               }
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                li {
                    padding: 5px;
                    margin-top: 15px;
                    
                    a{
                        color:$primaryColor;
                        padding: 5px;
                        &:hover{
                            background-color: $primaryColor;
                            border-radius: 5px;
                            color: white;
                        }
                    }
                    
                }
            }
            
        } 
    }
  
}
/* FIN MEDIA QUERIES HEADER */

/* MEDIA QUERIES FOOTER */

@media (min-width: $bp-tablet){
    .redes ul li a {
        font-size: 40px;
        padding: 10px;
        color: white;
        background-color: $primaryColor;
        border-radius: 50%;
        transition: all 1s;
        &:hover{
            color: $primaryColor;
            background-color: white;
            border:2px solid $primaryColor;
            
    
        }
        i{
            width: 45px;
            height: 40px;
            justify-content: center;
            text-align: center;
            
        
        }
        
        
    }
    
}

/* FIN MEDIA QUERIES FOOTER */

/* MEDIA QUERIES INICIO */

@media (min-width: $bp-tablet){
    .img1, .img2, .img3 {
        transition: all 1s;
    }


    .img1:hover, .img2:hover, .img3:hover { 
        scale: 1.2;
        
    }
    main .contenidoMain {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 250px ;
    grid-template-areas: 
    "img1 img2 img3 ";
    }
    
    .logo img{
        object-fit: contain;

    }
    
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 5px 0;
        margin: auto;
    }
    
    .img1 {
        grid-area: img1;
        padding-left: 5px;
    
    }
    
    .img2 {
        grid-area: img2;
    }
    
    .img3 {
        grid-area: img3;
        padding-right: 5px;
    }
    .carousel-caption{
        top: 10%;
        .tituloCarousel{
            font-size: 65px;
            color: $primaryColor;
        }
        .cartelCarousel{
            font-size: 30px;
        }
    }

}

/* FIN MEDIA QUERIES INICIO */

/* MEDIA QUERIES CONTACTO */

@media (min-width: $bp-tablet){
    .mainContacto{
        display: grid;
        grid-template-columns: repeat(2, 400px);
        grid-template-areas: 
        "ubicacion form";
        justify-content: center;
       align-items: center;
       .contacto{
        
        grid-area: form;
        }
        .ubicacion{
        
            grid-area: ubicacion;
            margin-left: 80px;
        }
    }

}

/* FIN MEDIA QUERIES CONTACTO */

/* MEDIA QUERIES SOBRE NOSOTROS */ 

@media (min-width: $bp-desktop){
    .mainAbout{
        display: grid;
        margin: auto;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(2,50%);
        grid-template-areas:
        "about historia"
        "mision vision";
        .aboutUs{
            grid-area: about;
        }
        .historia{
            grid-area: historia;
        }
        .mision{
            grid-area: mision;
        }
        .vision{
            grid-area: vision;
        }
        h2{
            font-size: 55px;
        }
        div {
            margin: 10px 25px;
            p{
                font-size: 22px;
                }

        }
            
    }
    

}

/* FIN MEDIA QUERIES SOBRE NOSOTROS */

/* MEDIA QUERIES NUESTROS SERVICIOS */

@media (min-width: $bp-tablet){
    
    .mainServicios{
        .enlaces{
            display: none;
        } 
        .ServiciosContainer{
            display: grid;
            grid-template-columns: repeat(2,50%);
            grid-row-gap: 50px;
            grid-template-rows: repeat(3,33%);
            grid-template-areas: 
            "ple plecon"
            "cizcon ciz"
            "cil cilcon";

        }
        .cilindroContainer{
            grid-area: cilcon;

        }
        .plegadoraContainer{
            grid-area: plecon;
        }
        cizallaContainer{
            grid-area: cizcon;
        }
        .cilindro{
            grid-area: cil;
            
        }
        .plegadora{
            grid-area: ple;

        }
        .cizalla{
            grid-area: ciz;
        }
        
    }

    }