/* PRESUPUESTO */
.mainPresupuesto{
    background-image: url(../images/fondo.jpg);
    .presupuesto{
        display: grid;
        align-items: center;
        justify-content: center;
        min-height: 90vh;
       
        legend{
            font-size: 20px;
            background-color: $primaryColor;
            text-align: center;
        }
        input {
            font-size: 15px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        #archivo{
            font-size: 15px;
            border: 2px black dashed;
            align-items: center;
            padding: 40px 20px;
            background-color: white;
        }
        textarea{
            resize: none;
            background-color: white;
        }
        .botonPresupuesto{
                margin: auto;
                padding: 5px 50px;
                border-radius: 5px;
                background-color: $primaryColor ;
        }
        
        
    }
}


/* FIN PRESUPUESTO */

