/* NUESTROS SERVICIOS */

.mainServicios {
    .enlaces{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        li{
            background-color: $primaryColor;
            padding: 7px;
            border-radius: 5px;
            margin-top: 10px;
            a{
                color: white;
                text-decoration: underline;
            }
            
        }
        
    
    }
    .ServiciosContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tituloServicios{
        text-decoration: underline;
        font-style: italic;
        color:white;
        text-align: center;
        padding: 20px 5px;
        
        
    }
  


    .serPlegadora, .serCizalla, .serCilindro{
        font-size: map-get($estilos,fontsize);
        color: map-get($estilos, color);
        border-radius: 2px 25px;
        background-color: map-get($estilos,background);
        padding: map-get($estilos,espaciado); 
        margin: map-get($estilos,margen);
    }

   
    @mixin imgSize ($width,$height){
        width: $width;
        height: $height;

    }

    .plegadora, .cizalla, .cilindro {
        
        @include imgSize (90%,auto);
        margin:auto;
        display: block;
        
        

    }
}
   
   
    
        
    





/* FIN NUESTROS SERVICIOS */
   