/* NUESTROS SERVICIOS */

.mainServicios {
    .enlaces{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        li{
            background-color: $primaryColor;
            padding: 7px;
            border-radius: 5px;
            margin-top: 10px;
            a{
                color: white;
                text-decoration: underline;
            }
            
        }
        
    
    }
    .ServiciosContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tituloServicios{
        text-decoration: underline;
        font-style: italic;
        padding: 20px 5px;
        color: $primaryColor;
        
    }
    img{
        width: 70%;
        height: auto;
        
    }

    .cizalla, .plegadora, .cilindro {
        margin: 20px;
    }

   

    .ser__Plegadora{
        font-size: map-get($estilosServicios,fontsize);
        color: map-get($estilosServicios, color);
        border-radius: map-get($estilosServicios, borde);
        background-color: map-get($estilosServicios,background);
        padding: map-get($estilosServicios,espaciado); 
        margin: map-get($estilosServicios,margen);
    }

    .ser__Cizalla{
        font-size: map-get($estilosServicios,fontsize);
        color: map-get($estilosServicios, color);
        border-radius: map-get($estilosServicios, borde);
        background-color: map-get($estilosServicios,background);
        padding: map-get($estilosServicios,espaciado); 
        margin: map-get($estilosServicios,margen);
    }

    .ser__Cilindro{
        font-size: map-get($estilosServicios,fontsize);
        color: map-get($estilosServicios, color);
        border-radius: map-get($estilosServicios, borde);
        background-color: map-get($estilosServicios,background);
        padding: map-get($estilosServicios,espaciado); 
        margin: map-get($estilosServicios,margen);
    }
        
    }





/* FIN NUESTROS SERVICIOS */
   