/* SOBRE NOSOTROS */

.mainAbout{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    div{
        padding: 25px;
        margin: 10px;
        border-radius: 5px 70px;
        background-color: $primaryColor;
        
        h2{
            color: white;
            i{
                margin-right: 15px;
            }
        }
        p{
            font-size: 13px;
            color:white
        }
        
    }
    
   
}

/* FIN SOBRE NOSOTROS */