* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Smooch', cursive;
    font-family: 'Staatliches', cursive;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

::placeholder {color:black}


/* VARIABLES */

$bp-tablet: 675px;
$bp-desktop:1000px;


$primaryColor: rgb(4, 83, 30);

$estilos: (
    fontsize: 15px,
    color: white,
    borde: 20px,
    background: $primaryColor,
    espaciado: 10px,
    margen: 10px,
    );

/* VARIABLES */

@import 'header';
@import 'Footer';
@import 'index';
@import 'contacto';
@import 'SobreNosotros';
@import 'NuestroServicios';
@import 'presupuesto';
@import 'MediaQueries';